@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.font {
  font-family: 'Alkatra';
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.modalForm {
    background-color: #274565;
}

.search_custom_btn:hover {
    background-color: black !important;
    color: white !important;
}

.custom-modal-width {
    width: 40vw;
}

.custom-card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: calc(100% - 20px);
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    align-items: center;
}

.custom-card {
    width: 100%;
    background-color: rgb(167, 167, 167, 0.2);
    border-radius: 10px;
    position:relative;
    color: black;
}

.custom-card::before {
    content:"";
    display:block;
    border-radius:inherit;
    background: radial-gradient(400px circle at var(--mouseX) var(--mouseY), rgba(201, 201, 201, 0.2), transparent 30%);
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    position:absolute;
    opacity: 0;
    transition: opacity 500ms;
    z-index: 3;
}

.custom-card-box:hover .custom-card::before{
    opacity: 0.5;
}

.custom-card-content{
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: inherit;
    margin: 2px;
    position:relative;
    background-color:rgb(27, 27, 27);
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    z-index: 2;
}

.custom-card-border{
    content:"";
    display:block;
    border-radius:inherit;
    background: radial-gradient(400px circle at var(--mouseX) var(--mouseY), rgb(230, 185, 21), transparent 40%);
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    position:absolute;
    opacity: 0;
    transition: opacity 500ms;
    z-index: 1;
}

.custom-card-box:hover .custom-card-border{
    opacity: 1;
}
