#profile-wallpaper {
    background-image:url('svgs/editProfileWallpaper5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    min-height: 125vh
}

#profile-banner {
    min-height: 400px;
    background-color: lightgrey;
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 50%;
}

#banner-greeting {
    margin: auto;
    position:relative;
    bottom:2em;
    text-shadow: 3px 1px 5px black;
    background-color:rgba(119, 119, 119, 0.386);
    padding-bottom:2em;
    border-radius: 1em;
}

#profile-content {
    background-color: none;
    padding-top: 0;
}

.profile-grid {
    font-family: 'Comic Sans MS';
    position:relative;
    bottom:2em;
    padding-top: 15px;
}

.custom-shadow-1 {
    box-shadow: 1px 1px 2px #999
}

.custom-shadow-2 {
    box-shadow: 2px 1px 4px #999
}

.custom-padding-1 {
    padding: 10px 15px 10px 15px
}

.custom-padding-2 {
    padding: 15px 15px 0px 15px
}

.profile-fullname {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;

}

.profile-gender-text {
    text-align: center;
}

.profile-pic {
    margin: auto;
    margin-top: -6em;
}

.custom-card-bg {
    background-color: #ffffff;
}

.custom-btn {
    background-color: #2f5373;
    border-color: #274565
}

.edit-profile-wallpaper {
    background-image:url('svgs/editProfileWallpaper5.svg'), linear-gradient(to bottom right, #F8F9FA, #808894, #d5e1ee);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position:50% 20%;
    min-height: 94vh;
}
