.custom-attraction-height {
    height: 800px;
    overflow-y: auto
}

.custom-edit-btn {
    background-color: #2f5373;
    border-color: #274565
}

.edit-form-wallpaper {
    background-image: url("./backgrounds/low-poly-grid-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.custom-add-btn {
    background-color:aliceblue;
    border-radius: 20%;
}

.custom-add-btn:hover {
    background-color: rgb(5, 161, 5);
    transform: scale(1.04);
}

.custom-add-btn:active {
    background-color: rgb(16, 110, 16);
    transform: scale(0.96);
    text-decoration: underline;
}

.custom-remove-btn {
    background-color:aliceblue;
    border-radius: 15%;
}

.custom-remove-btn:hover {
    background-color: rgb(222, 17, 17);
    transform: scale(1.03);
}

.custom-remove-btn:active {
    background-color: rgb(120, 9, 9);
    transform: scale(0.96);
    text-decoration: underline;
}
