#mytrips-wallpaper {
    background-image: url("https://img.freepik.com/premium-vector/view-from-window-airport-planes-skyscrapers-vector_460042-151.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: 100%;
}

.custom-title {
    text-decoration: none;
    color: black;
}

.custom-title:hover {
    text-decoration: underline;
}

.custom {
    background-color: white !important;
    color: green !important;
}

.custom:hover {
    background-color: #12edd4 !important;
    color: black;
}

.trip-items {
    background-color: white;
}

.mountains {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url('./svgs/bg-results.svg');
}
.layer2 {
    background-image: url('./svgs/bg-tripsdetails.svg');
}

.search {
    background-image: url('./svgs/search.svg');
}

.custom-results-height {
    height: 900px;
    overflow:hidden
}

.overflowY {
    overflow-y:auto;
    overflow-x:hidden
}

.attractions-card1 {
    background-image: linear-gradient(to bottom right, #274565, #808894 );
}

.attractions-box::-webkit-scrollbar{
    width:0.5em
}

.attractions-box::-webkit-scrollbar-track{
    background-color: none;
    border-radius: 2em
}

.attractions-box::-webkit-scrollbar-thumb{
    width:0.5em;
    background: none;
    border-radius: 2em;
}

.attractions-box:hover::-webkit-scrollbar-thumb{
    border: 2px solid #ffc1077d
}

.attractions-box {
    overflow-y:auto;
    scrollbar-width:none
}
