body {
    overflow-y: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  border: 0;
}

video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
